#Inserire User e Password di accesso a Zucchetti
ZUCCHETTI_USER=user
ZUCCHETTI_PASS=password
#Inserire API Key di Brevo (Settings -> SMTP & API)
BREVO_API_KEY=xkeysib-...
#Inserire coppie Nome Template: Numero Template (si trova nell'URL del template in BREVO) intervallate da virgola
BREVO_TEMPLATES=Template Esempio Venezia: 1
#Inserire Password in fomrato stringa "xxxx"
APP_PASSWORD="password"